<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseUrl" value="https://fir-net-fc01e.firebaseio.com/" />
    <add key="DatabaseSecret" value="1K7qdbC2X9nQNRzlqQC14XmsGPR6Y5phUfxC2B5Z" />
    <add key="ApiKey" value="AIzaSyD9z5obBmdhc7qeELh6c9PqLSW0WoVmnFg" />
  </appSettings>
</configuration>